{
  inputs,
  cell,
}: let
  inherit (inputs) nixpkgs std;
  l = nixpkgs.lib // builtins;

  # A helper function to create an environment from a list of attributes
  mkEnv = env: l.mapAttrsToList (name: value: {inherit name value;}) env;
in
  l.mapAttrs (_: std.lib.dev.mkShell) rec {
    default = {...}: {
      name = nixpkgs.lib.mkForce "{{ project_name }}";
      packages = with nixpkgs; [
        alejandra
        nodePackages.prettier
        treefmt

        # Put your packages here
      ];
      ## Optionally set environment variables ##
      # env = mkEnv {
      #   MY_VAR = "my-value";
      # };
    };
  }
